!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
  body
    nav.navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") Test
    .container!= body
    script(src='/js/jQuery.js')
    script(src='/js/bootstrap.js')